
.convenience_card {
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .convenience_card .c_card{
    margin-bottom: 30px;
    text-align: left;
    padding-bottom: 10px;
  }
  
  .convenience_card .c_card div{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .convenience_card .c_card div svg{
    width: 16px;
    height: 16px;
  }