@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.root {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-family: "Oswald", sans-serif;
    
  }
  .registertext{
    color: #1900D5;
  }
